.element__like {
    background: url(../../../images/like-button.svg) center no-repeat;
    width: 21px;
    height: 19px;
    border: none;
    outline: none;
}

.element__like:hover {
    opacity: 0.5;
}

.element__like:active {
    background: url('../../../images/like-button_active.svg') center no-repeat;
}