@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url(./fonts/Inter-Regular.woff) format('woff');
    src: url(./fonts/Inter-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url(./fonts/Inter-Medium.woff) format('woff');
    src: url(./fonts/Inter-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: url(./fonts/Inter-Black.woff) format('woff');
    src: url(./fonts/Inter-Black.woff2) format('woff2');
}

.page {
    background-color: black;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 70%;
    max-width: 882px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
    padding: 45px 0 41px;
}

.profile {
    position: relative;
    display: flex;
    width: 70%;
    max-width: 882px;
    margin: 40px 0 51px;
}

.profile__avatar {
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    margin-right: 30px;
}

.profile__info {
    display: grid;
    grid-template-columns: 1fr 24px;
    align-items: center;
    gap: 5px 18px;
    align-self: center;
}

.profile__name {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 133%;
    color: #FFFFFF;
    margin: 0;
}

.profile__job {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
}

.button {
    position: relative;
    transition: opacity 0.3s;
}

.button:hover {
    opacity: 0.6;
}

.profile__edit-btn {
    background: url(./images/edit-button.svg) center no-repeat #000000;
    border: 1px solid #FFFFFF;
    width: 24px;
    height: 24px;
    
}

.profile__add-btn {
    background: url(./images/add-button.svg) center no-repeat #000000;
    border: 2px solid #FFFFFF;
    position: absolute;
    right: 0;
    top: 35px;
    width: 150px;
    height: 50px;
}

.popup {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.popup_opened {
    display: flex;
}

.popup__container {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 430px;
    min-height: 322px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.popup__close-btn {
    position: absolute;
    top: -32px;
    right: -32px;
    width: 40px;
}

.popup__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
    padding: 34px 36px 0;
}

.input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    min-height: 27px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.input__name {
    margin: 54px 36px 30px;
}

.input__job {
    margin: 0 36px 48px;
}

.popup__submit-btn {
    margin: 0 36px 37px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    min-height: 50px;
    border-radius: 2px;
    border: none;
}

.popup__submit-btn:hover {
    opacity: 0.8;
}

.elements {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(auto-fit, 282px);
    gap: 20px 17px;
    justify-content: center;
}

.element {
    max-width: 282px;
    max-height: 361px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.element__img {

}

.element__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 21px;
}

.element__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.element__like {
    background: url(./images/like-button.svg) center no-repeat;
    width: 21px;
    height: 19px;
    border: none;
}

.footer {
    width: 70%;
}

.footer__copyright {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 67px 0 60px;
}

@media screen and (max-width: 930px) {
    .elements {
        width: 90%;
    }
}

@media screen and (max-width: 930px) {
    .header {
        width: 90%;
    }
}

@media screen and (max-width: 930px) {
    .profile {
        width: 90%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 38px 0 0;
    }
}

@media screen and (max-width: 930px) {
    .profile__avatar {
        margin-right: 0;
    }
}

@media screen and (max-width: 930px) {
    .profile__add-btn {
        width: 100%;
        max-width: 282px;
        position: relative;
        margin: 36px 0;
        top: 0;
    }
}

@media screen and (max-width: 425px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
    }
}

@media screen and (max-width: 425px) {
    .profile__info {
        margin-top: 22px;
    }
}

@media screen and (max-width: 425px) {
    .profile__job {
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 930px) {
    .footer {
        width: 90%;
    }
}

@media screen and (max-width: 425px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
        margin: 48px auto 36px;
    }
}

@media screen and (max-width: 645px) {
    .popup__container {
        width: 282px;
    }
}

@media screen and (max-width: 645px) {
    .popup__title {
        padding: 25px 22px 0;
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 645px) {
    .input__name {
        margin: 75px 22px 0;
    }
}

@media screen and (max-width: 645px) {
    .input__job {
        margin: 30px 22px 45px;
    }
}

@media screen and (max-width: 645px) {
    .popup__submit-btn {
        margin: 0 22px 25px;
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 645px) {
    .popup__close-btn {
        width: 26px;
        top: -35px;
        right: 0;
    }
}