.profile__edit-btn {
    background: url(../../../images/edit-button.svg) center no-repeat #000000;
    border: #FFFFFF;
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 425px) {
    .profile__edit-btn {
        width: 18px;
        height: 18px;
    }
}