.profile__info {
    display: grid;
    grid-template-columns: 1fr 24px;
    gap: 0 16px;
    align-items: center;
}

@media screen and (max-width: 425px) {
    .profile__info {
        margin-top: 22px;
        grid-template-columns: 1fr 18px;
        gap: 0 8px;
    }
}